
<button onClick="window.location='<%=new_room_path%>';" id="new_room" class="_button">New Room</button>
  <span class="news_text">** NEWS: This week MEGADIV has uploaded a demo on how to troll, we recommend checking it out! HERE **</span>
    <div class="room_list">
      <% @rooms.each do |room| %>
        <div class="room_unit">
          <div class="room_outer_bar">
            <div class="room_inner_bar"><%= link_to room.name_capitalised, room_path(room) %>
              <div class="tools">
              <% if user_signed_in? && current_user.is_moderator %>
                <a href="<%=edit_room_path(room)%>"> <i class="fas fa-pencil-alt"></i></a>
                <%= link_to '', room, method: :delete, data: { confirm: 'Are you sure?' }, class:'far fa-trash-alt' %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
 <script>
 // JS in progress to allow inline editing of room name
 /*
    $('.room_inner_bar').click(function(){
      console.log('yo')
    var name = $('.room_inner_bar').text()
 
    $(this)
        .attr({
            'type': 'text',
            'name': 'fname',
            'id': 'txt_fullname',
            'size': '30',
            'value': name
        })
        .appendTo('.room_inner_bar');
    $('.room_inner_bar').focus();
});

$(document).on('blur','.room_inner_bar', function(){
    var name = $(this).val();
    $.ajax({
      type: 'post',
      url: 'change-name.xhr?name=' + name,
      success: function(){
        $('#fullname').text(name);
      }
    });
});
   */ </script>
