  <span class="news_text">** NEWS: This week MEGADIV has uploaded a demo on how to troll, we recommend checking it out! HERE **</span>
    <div class="room_list">
      <% @rooms.each do |room| %>
        <div class="room_unit">
          <div class="room_outer_bar">
            <div class="room_inner_bar"><%= link_to room.name_capitalised, room_path(room) %>
              <div class="tools">
              <% if user_signed_in? && current_user.is_moderator %>
                <a><i class="fas fa-pencil-alt"></i></a>
                <%= link_to '', room, method: :delete, data: { confirm: 'Are you sure?' }, class:'far fa-trash-alt' %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
 <script>
 // Inline editing of room name
 
$( '.fa-pencil-alt' ).click( function ( e ) {
  var roomName = e.target.closest ( '.room_inner_bar' ).firstChild
  var roomId = roomName.href.split ( '/' ) [4]
  roomName.setAttribute ( 'contenteditable',true )
  roomName.focus()
  roomName.style.fontWeight = 600
  document.addEventListener( 'keypress' , ( event ) => {
    if( event.keyCode == 13 && roomId ){
      $.ajax({
              url: '/rooms/'+roomId,
              type: 'PUT',
              data: {name: roomName.text},
              beforeSend: function ( xhr ) { xhr.setRequestHeader ( 'X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ))}
          })
      event.preventDefault();
      roomName.style.fontWeight = 400
      roomName.setAttribute( 'contenteditable' , false )
      roomName.blur();
    }
  })    
});
</script>
