<script type="text/babel">

var getRooms = new Promise((resolve,fail)=>{
  $.ajax({
          url: '/rooms.json',
          beforeSend: (xhr) => { xhr.setRequestHeader ( 'X-CSRF-Token', $('meta[name="csrf-token"]').attr('content') )}
        })
          .done( (res) => { resolve(res) }).fail( (e) => { fail(e) 
  })
})

window.onload = getRooms.then ( (res) => {

  var Tools = React.createClass({
    render: function () {
      return (
        <div className="tools">{this.props.room}
          <a><i className="fas fa-pencil-alt"></i></a>
        </div>
      )
    } 
  })

  var rooms = res.map ( (result,i) => {
    return <div key={i} >
      <div className="room_unit" key={i}>
        <div className="room_outer_bar" key={i}>
          <div className="room_inner_bar" key={i}>
            <% if user_signed_in? && current_user.is_moderator %>
            <Tools room={result.id}/>
            <% end %>
            <div key={i}> {result.name} </div>
          </div>
        </div>
      </div>
    </div>
  })

  var Room_list = React.createClass ({
    render: function () {
        return (
          <div className="room_list">{rooms}</div>
        );
      }
  });

  ReactDOM.render(
    <div><Room_list/></div>, document.querySelector(".back_plate")
  );   
  
})

 /*
$('.fa-pencil-alt').click(function(e){
  console.log('clicked')
  var roomName = e.target.closest('.room_inner_bar').firstChild
  var roomId = roomName.href.split('/')[4]
  roomName.setAttribute('contenteditable',true)
  roomName.focus();
  roomName.style.fontWeight=600
  document.addEventListener('keypress', (event) => {
    if(event.keyCode == 13 && roomId){
      $.ajax({
              url: '/rooms/'+roomId,
              type: 'PUT',
              data: {name: roomName.text},
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
          })
      event.preventDefault();
      roomName.style.fontWeight=400
      roomName.setAttribute('contenteditable',false)
      roomName.blur();
    }
  })    
});*/
  </script>
