.message-box{
  width: calc(100% - 24px);
  height: 10vh;
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid #333;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
}
.message{
  color: #222;
  background-color: rgba(0,255,0,0.9);
  border-radius: 10px;
  float: left;
  width: 80%;
  min-height: 100px;
  margin: 20px 10px;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
}
.user{
  color: #ddd;
  background-color: rgba(0,0,255,0.9  );
  float: right;
}
.room-header {
  background-color: rgba(200,200,200,0.9);
  border-radius: 10px;
  font-family: helvetica;
  text-transform:lowercase;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
  text-align: center;
}
