/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  font: 400 16px/1.38 Helvetica;
  color: rgb(0, 0, 0);
  background:black;
}
textarea{
  width: 100%;
  margin-left:5px;
  margin-right:5px;
}

.main_grid_container{
  display: grid;
  grid-template-columns: 20px 90px 10px 30px 30px auto 85px 30px 30px;
  grid-template-rows:  40px 50px 15px 15px 25px 40px 410px 110px ;
}

#side_bar {
  grid-column: 1/span 3;
  grid-row: 5/span 5;
  z-index: 10;
  border: 1px solid rgb(61, 61, 61);
  color:black;
  border-radius: 0px 5px;
  background-color: rgb(41, 41, 41);
}

.header {
  position:relative;
  grid-column: 1/span 9;
  grid-row: 1/span 2;
  z-index: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 3px;
  background-color: rgb(89, 83, 83);
}

.back_plate {
  grid-column: 5/span 4;
  grid-row: 4/span 6;
  padding-left:20px;
  padding-top:47px;
  background: linear-gradient(#3c3c3c,#1d1d1d);
}

._button {
  z-index:10000;
  text-align: center;
  height:30px;
  border-radius:2px;
  border: 1px solid rgb(38, 38, 38);
}
#login{
  grid-column: 2/span 1;
  grid-row: 6;
  color: rgb(169, 166, 166);
  background-color: rgb(62, 62, 62);
  box-shadow: 0 1px 5px rgba(69, 69, 69, 0.5);
  color:white;
  font-size: 12px;

}

#post_button{
  z-index:10000;
  text-align: center;
  height:20px;
  width:50px;;
  color: rgb(169, 166, 166);
  background-color: rgb(62, 62, 62);
  box-shadow: 0 1px 5px rgba(69, 69, 69, 0.5);
  color:white;
  font-size: 20px;
  border: 1px solid rgb(38, 38, 38);
}

#new_room{
  grid-column: 2/span 1;
  grid-row: 7;
  color: rgb(169, 166, 166);
  background-color: rgb(62, 62, 62);
  box-shadow: 0 1px 5px rgba(69, 69, 69, 0.5);
  color:white;
  font-size: 12px;
  z-index:100000000;
}

.logo{
  grid-column-start: 2;
  grid-row-start: 1;
  width:110px;
  height:110px;
  z-index: 1000000;
  margin-left: -12px;
  margin-top: 5px;
  border-radius: 3px;
  background-image: url('/Cat_logo_grey.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(19, 19, 19, 0.3));  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}

.logo_front{
  opacity:0.1;
  background-image: url('/Cat_logo_grey_redeye.png');
  transition: opacity 2s;
}
.logo_front:hover{
  opacity:1;
}
a{
  padding-top:5px;
  color:rgb(19, 19, 19);
  font-weight:400;
}
a:hover{
  font-weight:500;
}
a:focus{
 outline: 0px solid transparent;
 white-space: nowrap;
    overflow: hidden;
}
.fa-gears{
    -webkit-filter: drop-shadow(0px 2px 4px rgba(19, 19, 19, 0.3));
    font-size:1.5em;
    color: rgb(109, 109, 109);
    z-index:100;
}

.fa-cogs{
  position:absolute;
  text-align:center;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(19, 19, 19, 0.3));
  font-size:1.1em;
  color: azure;
  z-index:90;
  margin-top:25px;
  right:30px;
}

.fa-cogs:hover{
    font-size:1.15em;
    color: rgb(247, 236, 199);
}

.fa-pencil-alt,.fa-trash-alt{
  z-index:10000000;
color:rgb(148, 144, 144);
}
.fa-pencil-alt{
  position:absolute;
  margin-top:2px;
right:37px!important;
}
.fa-trash-alt{
  margin-top: -6px !important
}
.fa-pencil-alt:hover{
  z-index:10000000;
  font-size:1.15em;
  color:rgb(92, 92, 92);
  }

  .fa-arrow-circle-left:hover,.fa-arrow-circle-right:hover{
    z-index:10000000;
    color:rgb(92, 92, 92);
    }

.fa-trash-alt:hover{
  z-index:10000000;
  color:rgb(40, 40, 40);
  }

.form_positioning{
  z-index:1000000;
  margin-left:40%!important;
  margin-top:10%;
  grid-column: 3/7;
  grid-row-start: 6;
  #user_email,#user_password{
    background-color:rgb(240, 233, 211)!important;
  }
}

.new_user,.new_room{
  margin-left:32px;
  z-index:100;
    input{
        border-radius: 2px;
        padding: 3px 3px 3px 3px;
        background-color:rgb(240, 233, 211)!important;
        font-size:12px;
    }
    .actions{
        color: black;
    }
    .new_room_submit{
      input{
      height:20px!important;
      background-color:rgb(96, 96, 96)!important;
      color:white;
      margin-bottom:10px;
      }
    }
}

.show_room{
#room_name_back{
    background-color:rgb(113, 113, 113);
    z-index:500;
    width:90px;
    height:30px;
    position:relative;
    border-radius:4px;
  }
    .room_inner_bar{
      font-size:110%;
      .tools{
        margin-left:0px!important;
        padding-bottom:5px;
        padding-right:10px;
        }
      }
      .room_inner_bar:hover{
        color:white;
        background-color:transparent!important;
      }
    text-align: center;
    grid-column: 6/ span 2;
    grid-row-start: 4;
    grid-row-end: 4;
    z-index:1000000;
    margin-bottom:0px;
    margin-top:10px;
    margin-left:12.5%;
    margin-right:12.5%;
    height:15px;
}
.room_list{
  display:inline-block;
  padding-top:30px;
  grid-column: 6/ span 2;
  grid-row-start: 5;

  .room_unit{
    margin:6px;
  .room_outer_bar {
    margin-top:10px;
    position:relative;
    z-index: 10000000;
    height: 31px;
    border: 1px solid rgb(72, 72, 72)!important;
    border-radius: 2px;
    background-color: rgb(136, 135, 135)!important;
  }
  .room_inner_bar {
    z-index: 10000000;
    margin-left:4px;
    margin-top: 1px;
    margin-right:4px;
    height: 27px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 2px;
    background-color: rgb(207, 207, 207);
    color:black;
    padding-left:10px;
    padding-top:4px;
    padding-bottom:8px;
    font-weight: 500;
    font-size:13px;
  }
}
}
#message_box{

  margin-left:-1200px;
}
.open{
  margin-left:0px !important;
}
.transition{
  transition: margin-left 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.message_box1 {
  z-index: 100000000;
  padding: 5px;
  width: 99%;
  height: 90%;
  margin-top:1px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 2px 5px rgba(0, 0, 0, .5) inset;
}

.message_box2 {
  position:fixed;
  bottom:0;
  z-index: 100000000;
  width: 70%;
  height: 50px;
  padding-top:3px;
  padding-left:6px;
  margin-left:8.5%;
  border-radius: 5px 3px 3px 10px;
  background-color: rgb(94, 94, 94);
  box-shadow: -3px 4px 2px rgba(91, 91, 91, 0.5);
}

.room_bar2:hover{
    background-color: rgb(225, 218, 178);
}

.room_inner_bar:hover{
    background-color: rgb(228, 222, 189)!important;
}

.tools{
    padding-bottom:5px;
    float:right;
    padding-right:10px;
}

.text {
  float: left;
  z-index: 11;
  width: 79.75%;
  min-height: 74px;
  margin: -1241px 0 0 17.1666666666%;
  font-size: 16px;
  color: rgb(169, 169, 169);
}

.news_text {
  padding-top:15px;
  text-align:center;
  grid-column: 6/span 2;
  grid-row-start: 4;
  z-index: 1200000;
  font-size: 13px;
  color: rgb(193, 193, 193);
}

.login{
  display:inline-block;
  z-index:10000;
}



._button-3:hover,
#login:hover,#new_room:hover {
  border-color: rgb(142, 142, 142);
  background-color: rgb(91, 91, 91);
  box-shadow: 0 1px 5px rgba(69, 69, 69, 0.5);
  color: rgb(247, 236, 199);
}

#message_area{
  z-index:1000000;
  overflow:auto;
  grid-column: 4/span 6;
  grid-row: 6/span 3!important;
}

.message{
  .delete_button{
   
  }
  padding-top:10px;
  padding-bottom:10px;
  padding-left:13px;
  padding-right:1px;
  margin:2px 0;

  .inner{
    max-width:80%;
    padding:10px 10px;
    min-height: 25px;
    font-size: 80%;
    display:inline-block;

    .trash_message{
      visibility:hidden;
    }

    &:hover{
      i{
        visibility:visible;
      }
    }
    .date{
      padding-top:7px;
      font-size:56%;
      display:block;
    }
  }

  &.my_message{
    text-align:right;

    .inner{
      text-align:left;
     
      border-right: 1px solid rgb(0, 0, 0);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 15px;
      background-color: rgb(255, 254, 254);
      color:#242424;
      box-shadow: -1px 1px 1px rgba(193, 189, 189, 0.5);
      font-size: 70%;
      margin-right:10px;
      padding-bottom:5px;
      .date{
        text-align:right;
        margin-right:10px!important;
      }
      .trash_message{
        margin-left:2px;
        z-index:1000;
      }
    }
  }

  &.their_message {
    .inner{
      color:rgb(36, 36, 36);
      border-top-right-radius: 8px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 2px;
      background-color: rgb(192, 192, 192);
      box-shadow: -2px 2px 2px rgba(140, 140, 140, 0.5);
      padding-left:5px;
      padding-bottom:5px;
      font-size: 70%;
      .date{
      margin-left:10px;
        text-align:left;
      }
      .trash_message{
        margin-right:2px;
        margin-left:2px;
        z-index:1000;
      }
    }
  }
}
